.navbar .container {
    display: flex;
    padding: 25px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    display: flex;
    align-items: center;
    gap: 40px;
}

.navbar li {
    list-style: none;
}

.navbar .nav__logo {
    font-size: 40px;
}

.navbar .nav__logo span {
    color: var(--primary);
}

.navbar .nav__link {
    text-decoration: none;
    color: var(--secondary);
    font-weight: 700;
}

.navbar .nav__link:hover {
    color: var(--primary);
}

.navbar .nav__link.active {
    color: var(--primary);
    font-weight: 800;
}

.navbar li:last-child .nav__link {
    background-color: var(--primary);
    color: var(--main-bg);
    padding: 12px 22px;
    border-radius: 5px;
}

.navbar .nav__icon {
    display: none;
}



@media screen and (max-width: 1100px) {


    .navbar .container {
        margin: 0px auto;
    }

    .navbar .nav__logo {
        font-size: 30px;
    }

    .navbar .nav__icon {
        display: block;
        font-size: 27px;
        cursor: pointer;
    }

    .navbar ul {
        display: flex;
        position: fixed;
        transform: translateX(130%);
        z-index: 5;
        left: 0px;
        height: 100%;
        top: 0;
        justify-content: center;
        align-items: flex-start;
        padding: 0;
        flex-direction: column;
        width: 100%;
        transition: .8s all ease-in-out;
        backdrop-filter: blur(25px);
        padding-left: 50px;
        box-shadow: 0px 0px 15px -8px rgba(0, 0, 0, 0.5);
    }

    .nav__icon.close {
        position: absolute;
        left: 40%;
        top: 30px;
    }

    .navbar ul.navActive {
        transform: translateX(50%);
    }

}

@media screen and (max-width: 767px) {

    .navbar ul {
        display: flex;
        position: fixed;
        transform: translateX(130%);
    }

    .navbar ul.navActive {
        transform: translateX(0%);
    }

    .navbar .nav__logo {
        font-size: 24px;
    }

    .nav__icon.close {
        position: absolute;
        right: 30px;
        top: 30px;
        left: unset;
    }
}