.slider__card{
    display: flex;
    background-color: #000;
    color: #eee;
    padding: 12px;
    gap: 10px;
    border-radius: 5px;
    max-width: 350px;
    min-width: 350px;
}

/* .slider__card.active{
    padding: 15px;
    min-width: 450px;
    max-width: 450px;
    gap: 20px;
} */

.slider__card.active{
    transform: scale(1.2);
}

.slider__card .slider__card_img{
    height: 88px;
    width: 111px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

/* .slider__card.active .slider__card_img{
    height: 115px;
    width: 150px;
} */


.slider__card .slider__card_img img{
    height: 30px;
}

.slider__card_field_location span,
.slider__card_field_location{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.slider__card_field_location{
    gap: 15px;
}

.slider__card_company{
    margin-bottom:10px;
}

.slider__card_role,
.slider__card_field_location span,
.slider__card_field_location{
    font-size: 10px;
}

.slider__card_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


@media screen and (max-width: 1180px) {

.slider__card_role, .slider__card_field_location span, .slider__card_field_location {
    font-size: 11px;
}

.slider__card{
    max-width: 300px;
    min-width: 300px;
}

/* .slider__card.active{
    padding: 15px;
    min-width: 340px;
    max-width: 340px;
    gap: 20px;
} */

.hero__banner .hero__banner_right {
    gap: 20px;
}



.slider__card.active .slider__card_img{
    height: 100px;
    width: 120px;
}

.slider__card_role, .slider__card_field_location span, .slider__card_field_location {
    font-size: 8px;
}


}

@media screen and (max-width: 767px) {

    .slider__card.active{
        transform: scale(1.1);
    }
    
}