@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --main-bg: #E5E5E5;
    --primary: #205295;
    --black: #000000;
    --secondary: #222831;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

a{
    cursor: pointer;
}

body{
    background-color: var(--main-bg);
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.title{
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
}

.desp{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.btn{
    padding: 12px 25px;
    font-size: 16px;
    background: var(--primary);
    font-weight: 700;
    color: var(--main-bg);
    text-decoration: none;
    border-radius: 5px;
}

@media screen and (max-width: 1100px){
    
    .container{
        padding: 0 20px;
    }

    .title{
        font-size: 28px;
        line-height: 32px;
    }

    .desp{
        font-size: 14px;
    }
}

@media screen and (max-width: 1100px){
    
    .container{
        padding: 0 20px;
    }

    .title{
        font-size: 20px;
        line-height: 24px;
    }
}