@keyframes slide {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .logos {
    overflow: hidden;
    padding: 30px 0;
    white-space: nowrap;
    position: relative;
  }
  
  .logos:before,
  .logos:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
  }
  
  
  .logos:hover .logos-slide {
    animation-play-state: paused;
  }
  
  .logos-slide {
    display: inline-block;
    /* Adjust the animation duration to match the total width of all images */
    animation: 70s slide infinite linear;
  }
  
  .logos-slide img {
    height: 100px;
    margin: 0 40px;
  }

  @media screen and (max-width:1180px){
    .logos-slide img {
        height: 70px;
        margin: 0 40px;
      }
  }

  @media screen and (max-width:767px){
    .logos-slide img {
        height: 50px;
        margin: 0 40px;
      }
  }